body{
	background-color: #333333;
}

#quote-container{
	font-family: "Lato", "Courier New", Verdana, "Times New Roman", Helvetica, Arial;
	border: 2px solid white;
	border-radius: 5px;
	width: 50%;
	height: 40%;
	color: #00004d;
	background-color: white;
	margin-top: 15%;
}

#quotation-mark{
	font-size: 100px;
}

a{
	color: white;
}

a:hover{
	text-decoration: none;
	color: white;
}

small{
	display: inline-block;
	padding-top: 1%;
	color: white;
}